@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");

.depoimentos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  overflow: hidden;
}

.depoimentos img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimentos-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
  background: url(../../img/dec/bottom-right-p.svg) no-repeat bottom 40px right
    40px;
}

.depoimentos-conteudo p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.depoimentos-conteudo p::before {
  content: "“";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
  left: -50px;
  top: -20;
}

.depoimentos-conteudo p::after {
  content: "”";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

@media (min-width: 1200px) {
  .depoimentos img {
    max-height: 700px;
  }
}

@media (max-width: 800px) {
  .depoimentos {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .depoimentos img {
    height: 500px;
  }

  .depoimentos-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
}
